<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agregar Pago</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Numero Factura" formControlName="numero_factura">
            <mat-error *ngIf="addressForm.controls['numero_factura'].hasError('required')">
              Numero de Factura is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Boleto" formControlName="id_boleto">
            <mat-error *ngIf="addressForm.controls['id_boleto'].hasError('required')">
              Boleto is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Costo Total" formControlName="costo_total">
            <mat-error *ngIf="addressForm.controls['costo_total'].hasError('required')">
              Costo Total is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Tarjeta de Credito" formControlName="Tarjeta_Credito">
            <mat-error *ngIf="addressForm.controls['Tarjeta_Credito'].hasError('required')">
              Tarjeta de Credito is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Nombre del Propietario" formControlName="Nombre_Propietario">
            <mat-error *ngIf="addressForm.controls['Nombre_Propietario'].hasError('required')">
              Nombre de Propietario is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="date" matInput placeholder="Fecha de Expiracion" formControlName="Fecha_Exp">
            <mat-error *ngIf="addressForm.controls['Fecha_Exp'].hasError('required')">
              Fecha de Expiracion is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="password" matInput placeholder="CVV" formControlName="cvv">
            <mat-error *ngIf="addressForm.controls['cvv'].hasError('required')">
              cvv is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
