
<!DOCTYPE html>
<html lang="en">



<body>

  
   
  
  <div class="container">
      <div class="row align-self-center">
      <h1></h1>
      <h1>AEROLINEA</h1>
     </div>

    <table class="table">
      <thead>
        <tr>
         
          <th scope="col">iataCode</th>
          <th scope="col">ciudad</th>
          <th scope="col">pais</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modelo of ListarModelos">
          
          <th scope="row">{{modelo.iataCode}}</th>
        
          <td>{{modelo.ciudad}}</td>
          <td>{{modelo.pais}}</td>
         
          <td>
           
            <button (click)="modificarr(modelo.iataCode)" type="button" class="btn btn-info">Editar</button>
          </td>
          <td>
            <button (click)="eliminarr(modelo.iataCode)" type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <button type="button" class="btn btn-info" (click)="Onnuevoo()">AgregarPersona</button>

    <button type="button" class="btn btn-danger" (click)="actualizar()">Refrescar Tabla</button>

  </div>

</body>

</html>

