body {
   
    background-image:url(https://c.wallhere.com/photos/5b/d6/aircraft_landing_sunset_il_76-59073.jpg!d);
   background-color: #cccc  ;
   background-repeat: no-repeat;
   background-size: 100% 100% ;
   

  
}