<div class="fondo">
  <div class="container ">
    <div class="row ">
      <div class="col order-first mt-3 mb-5">
        <mat-card class="card">
          <h1 class="text-center">Modelos de Aviones</h1>
          <button type="button" class="btn agg btn-info" (click)="OnnuevoModelo()">Agregar Modelo</button>
          <rec class=" rec btn " (click)="actualizar()" style="color :rgba(187, 76, 76, 0.952)"
            matTooltip="Refrescar Tabla">
            <mat-icon>refresh</mat-icon>
          </rec>
          <table class="table">
            <thead>
              <tr class="text-center">
                <th scope="col">Modelo</th>
                <th scope="col">Velocidad Media</th>
                <th scope="col">Asientos Economicos</th>
                <th scope="col">Asientos Ejecutivos</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let modelo of ListarModelos" class="text-center">
                <td>{{modelo.nombre}}</td>
                <td>{{modelo.velocidad_media}} Km/h</td>
                <td>{{modelo.asientos_economicos}} Asientos</td>
                <td>{{modelo.asientos_ejecutivos}} Asientos </td>

                <td class="puntero" (click)="modificarModelo(modelo.id_modelo)" style="color:rgb(142, 191, 247)"
                  matTooltip="Editar Modelo">
                  <mat-icon>edit</mat-icon>
                </td>

                <td class="puntero" (click)="eliminarModelo(modelo.id_modelo)" style="color :rgba(187, 76, 76, 0.952)"
                  matTooltip="Eliminar Modelo">
                  <mat-icon>delete</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>

  </div>
