
<div class="container">
    <p>Editar</p>
    <div class="row">
      <div class="col-sm-6">
        <form>
          
          <div class="mb3">
            <label class="form-label">Descripcion</label>
            <input [(ngModel)]="EstadoBoleto.descripcion" type="text" class="form-control" name="descripcion">
          </div>

          <br>
  
          <div class="mb10">
            <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
          </div>
  
        </form>
      </div>
      <div class="col-sm-6">
        <form>
          
          <div class="mb3">
            <label class="form-label">{{EstadoBoleto.descripcion}}</label>
          </div>
  

        </form>
      </div>
  
    </div>
  
  </div>
  



