<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrar Pago</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <!--div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Id vuelo" formControlName="id_vuelo">
            <mat-error *ngIf="addressForm.controls['id_vuelo'].hasError('required')">
              Id vuelo is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div-->
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Id ruta" formControlName="id_ruta">
            <mat-error *ngIf="addressForm.controls['id_ruta'].hasError('required')">
              Id ruta is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Id avion" formControlName="id_avion">
            <mat-error *ngIf="addressForm.controls['id_avion'].hasError('required')">
              Id avion is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Id estado" formControlName="id_estado">
            <mat-error *ngIf="addressForm.controls['id_estado'].hasError('required')">
              Id estado is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="date" matInput placeholder="Fecha de salida" formControlName="fecha_salida">
            <mat-error *ngIf="addressForm.controls['fecha_salida'].hasError('required')">
              Fecha de salida is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
