
  
<div class="container">
  <p>Crear estado de Boleto</p>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="mb3">
        <label class="form-label">ID Avion</label>
        <input [(ngModel)]="Avion.id_avion" type="text" class="form-control" name="id_avion">
      </div>

      <div class="mb3">
        <label class="form-label">Estado</label>
        <input [(ngModel)]="Avion.estado" type="text" class="form-control" name="estado">
      </div>  

      <div class="mb3">
        <label class="form-label">Modelo</label>
        <input [(ngModel)]="Avion.modelo" type="text" class="form-control" name="modelo">
      </div>  
      <div class="mb3">
        <label class="form-label">Aerolinea</label>
        <input [(ngModel)]="Avion.aerolinea" type="text" class="form-control" name="aerolinea">
      </div>   
        <br>
        <div class="mb10">
          <button (click)="agregar()" type="button" class="btn btn-danger">Guardar</button>
        </div>

      </form>
    </div>
    <div class="col-sm-6">
      <form>
        <div class="mb3">
          <label class="form-label">{{Avion.id_avion}}</label>
        </div>

        <div class="mb3">
          <label class="form-label">{{Avion.estado}}</label>
        </div>
        <div class="mb3">
          <label class="form-label">{{Avion.modelo}}</label>
        </div>
        <div class="mb3">
          <label class="form-label">{{Avion.aerolinea}}</label>
        </div>

       

      </form>
    </div>

  </div>

</div>


