<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Inicio</a>
      <a mat-list-item routerLink="/disponible">Vuelos disponibles</a>
      <a mat-list-item routerLink="/agregarAeropuertos">Agregar Aeropuertos</a>
      <a mat-list-item routerLink="/listaAeropuertos">Lista de Aeropuertos</a>
      <a mat-list-item routerLink="/login">Login </a>
      <a mat-list-item routerLink="/register">Register</a>
      <a mat-list-item routerLink="/agregar-personas">Datos Pasajero</a>
      <a mat-list-item routerLink="/register_user">Registro de Usuario</a>
      <a mat-list-item routerLink="/cancelacion_vuelos">Cancelacion de Vuelos</a>
      <a mat-list-item routerLink="/tablaAerolinea">Aerolineas</a>
      <a mat-list-item routerLink="/tablamodelo">Modelos Aviones</a>
      <a mat-list-item routerLink="/crudVuelo">Mant Vuelos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="white">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>

      </button>
      <span>
        <a class="navbar-brand " href="#inicio" style="font-size: x-large;"><img src="https://i.ibb.co/JQLPBtc/Logo.png" alt="Logo" height="40" width="50"></a>
        AIRPORT SKYLINES</span>
      <span class="example-spacer"></span>
      <a mat-button href="#inicio">INICIO</a>
      <ng-container *ngIf="!logedIn(); else elseTemplate">
        <a mat-button routerLink= "/login">Log In</a>
      </ng-container>
      <ng-template #elseTemplate>
        <a mat-button (click)="onLogOut()" routerLink= "/login">Log Out</a>
      </ng-template>

    </mat-toolbar>

    <router-outlet></router-outlet>
    <footer class="footer" id="contactos">
      <div class="container">
        <div class="container-footer">
          <h1 class="titulo-serv py-4 align-self-center;">CONTACTANOS</h1>
          <section class="part-1">
            <div class="row">
              <div class="col-sm-6">
                <div class="content-foo">
                  <h4>Direccion</h4>
                  <p>Guatemala</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="content-foo">
                  <h4>Whatsapp</h4>
                  <p>+502 4180-6704</p>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="content-foo">
                  <h4>Teléfono</h4>
                  <p>+502 4180-6704</p>
                </div>
              </div>
            </div>
          </section>
          <section class="part-2">
            <div class="row">
              <div class="col-sm-6">
                <div class="content-foo">
                  <h4>Facebook</h4>
                  <p>Facebook/Skylines</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="content-foo">
                  <h4>Email</h4>
                  <p>skyline@gmail.com</p>
                </div>
              </div>
            </div>
          </section>
        </div>
        <h2 class="titulo-final">&copy; 2021-Designed by Desarrollo web</h2>
      </div>
    </footer>
  </mat-sidenav-content>



</mat-sidenav-container>







