
<div class="container">
    <p>Crear ruta</p>
    <div class="row">
      <div class="col-sm-6">
        <form>

          <div class="mb3">
            <label class="form-label">Precio base</label>
            <input [(ngModel)]="Ruta.precio_base" type="text" class="form-control" name="precio_base">
          </div>
          <div class="mb3">
            <label class="form-label">Distancia viaje</label>
            <input [(ngModel)]="Ruta.distancia_viaje" type="text" class="form-control" name="distancia_viaje">
          </div>
          <div class="mb3">
            <label class="form-label">tiempo viaje</label>
            <input [(ngModel)]="Ruta.tiempo_viaje" type="text" class="form-control" name="tiempo_viaje">
          </div>

          <div class="mb3">
            <label class="form-label">origen</label>
            <input [(ngModel)]="Ruta.origen" type="text" class="form-control" name="origen">
          </div>
          <div class="mb3">
            <label class="form-label">destino</label>
            <input [(ngModel)]="Ruta.destino" type="text" class="form-control" name="destino">
          </div>
          <br>
          <div class="mb10">
            <button (click)="agregar()" type="button" class="btn btn-danger">Guardar</button>
          </div>

        </form>
      </div>
      <div class="col-sm-6">
        <form>


          <div class="mb3">
            <label class="form-label">{{Ruta.precio_base}}</label>
          </div>
          <div class="mb3">
            <label class="form-label">{{Ruta.distancia_viaje}}</label>
          </div>
          <div class="mb3">
            <label class="form-label">{{Ruta.tiempo_viaje}</label>
          </div>


          <div class="mb3">
            <label class="form-label">{{Ruta.origen}}</label>
          </div>

          <div class="mb3">
            <label class="form-label">{{Ruta.destino}}</label>
          </div>

        </form>
      </div>

    </div>

  </div>

