<form [formGroup]="form" novalidate (ngSubmit)="crearVuelo()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Crear Vuelo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">IATACode</th>
              <th scope="col">Pais</th>
              <th scope="col">Ciudad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let aeropuerto of Aeropuertos">
              <th>{{aeropuerto.iataCode}}</th>
              <th>{{aeropuerto.pais}}</th>
              <td>{{aeropuerto.ciudad}}</td>
            </tr>
          </tbody>
        </table>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label style="color:#070707;">Ruta</mat-label>
            <mat-select [(ngModel)]="_vuelos.id_ruta" formControlName = 'Ruta'>
            <mat-option *ngFor="let ruta of collectionRuta" [value]="ruta.id_ruta" >
              Origen: {{ruta.origen}} Destino: {{ruta.destino}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label style="color:#070707;">ID Avion</mat-label>
            <mat-select [(ngModel)]="_vuelos.id_avion" formControlName = 'Avion'>
              <mat-option *ngFor="let avion of collectionAvion" [value]="avion.id_avion" >
                {{avion.id_avion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label style="color:#070707;">Estado Vuelo</mat-label>
            <mat-select [(ngModel)]="_vuelos.id_estado" formControlName = 'Avion'>
              <mat-option *ngFor="let estado of collectionEstados" [value]="estado.id_estado" >
                {{estado.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input [(ngModel)]="_vuelos.fecha_salida" type="date" matInput placeholder="Fecha de salida" formControlName="fecha_salida">
            <mat-error *ngIf="form.controls['fecha_salida'].hasError('required')">
              La Fecha de salida es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" >Crear Vuelo</button>
    </mat-card-actions>
  </mat-card>
</form>


