
.mat-form-field {
  display: block;
  max-width: 200px;

}
.mat-form-field2 {
  display: block;
  max-width: 220px;

}
.btn{
  margin: -2em auto;
}
.btn2{
  background-color:rgba(142, 222, 247, 0.897);

}
::ng-deep .mat-form-field{ width:400px !important; }

.card {
  max-width: 450px;
  margin: 30px 30px 30px 600px;
  text-align: left;
}

.card2 {
  max-width: 250px;
  margin: -500px 3px 0px 300px;
  text-align: left;
}

.body{
  background-color:rgb(235, 237, 238);
 background-repeat: no-repeat;

}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


.wave {
  position: absolute ;
  bottom: 0;
  width: 100%;
}

.info-header{
  top: 0;
  text-align: center;
  background-color:rgba(233, 211, 103);
}

.galeria-transport{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-transport{
  width: 100%;
  margin-bottom: 5%;
  height: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);

}

.imagen-transport > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.hover-galeria p{
  color: #f2f2f2;
  text-align: justify;
}
.hover-galeria h3{
  color: #f2f2f2;
  text-align: left;
}


.titulo-serv{
  text-align: center;
  color: #f9ca24;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100px;

}



::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
  color: #f2f2f2;
  background: rgb(255, 255, 255) !important;
  padding-right: 10%;

}

.btn-link{
  width: 100%;
  height: 60px;
  color: #000000 !important;
  font-weight: bold !important;
  text-align: center !important;
  text-decoration: none !important;

}

.btn-link:after{
  content: '\2212';
  width: 35px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute;
  background: #130f40;
}

.btn-link.collapsed:after{
  content: '\002B';
}

.hover-galeria-garanty p{
  color: #f2f2f2;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hover-galeria-garanty h3{
  color: #f2f2f2;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.min-garanty {
  background: #192a56;
}





.titulo-final{
  text-align: center;
  font-size: 100%;
  color: #f2f2f2;

}
