<body class="body">
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <form>
          <div class="mb3">
            <label class="form-label">IataCode</label>
            <input [(ngModel)]="Modelo.iataCode" type="text" class="form-control" name="iataCode">
          </div>

          <div class="mb3">
            <label class="form-label">Ciudad</label>
            <input [(ngModel)]="Modelo.ciudad" type="text" class="form-control" name="ciudad">
          </div>

          <div class="mb3">
            <label class="form-label">Pais</label>
            <input [(ngModel)]="Modelo.pais" type="text" class="form-control" name="pais">
          </div>

          <br>
          <div class="mb10">
            <button   (click)="agregar()" type="button" class="btn btn-danger">Guardar</button>
          </div>

        </form>
      </div>
      <div class="col-sm-6">
        <form>

        </form>

          <form [formGroup]="addressForm" novalidate (ngSubmit)="agregar()">
            <mat-card class="card">
              <h1 class=" text-center">Agregar Aeropuerto</h1>
            <mat-form-field appearance="fill">
              <input matInput placeholder="IataCode" formControlName="iataCode">
              <mat-error *ngIf="addressForm.controls['iataCode'].hasError('required')">
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput placeholder="Ciudad" formControlName="ciudad">
              <mat-error *ngIf="addressForm.controls['ciudad'].hasError('required')">
                <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput placeholder="Pais" formControlName="pais">
              <mat-error *ngIf="addressForm.controls['pais'].hasError('required')">
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-card-actions style="text-align: center;">
              <button mat-raised-button [disabled]="addressForm.invalid" class="btn btn-info"
                type="submit">Agregar</button>
            </mat-card-actions>
          </mat-card>
          </form>

      </div>
    </div>

</body>
