<form [formGroup]="addressForm" novalidate (ngSubmit)="onLogin()">
  <mat-card class="mat_card">
    <mat-card-content>
      <h2>Log In</h2>
      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field">
            <input type ="text" [(ngModel)]="_usuario.userName" matInput placeholder="Nombre de Usuario" formControlName="userName" required autofocus>
            <mat-error *ngIf="addressForm.controls['userName'].hasError('required')">
              El Nombre de Usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="mat-form-field">
            <input type ="password" [(ngModel)]="_usuario.password" matInput placeholder="Contraseña" formControlName="password" required >
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
              La Contraseña es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled] = "addressForm.invalid" type="submit" >Iniciar Sesión</button>
      <button mat-raised-button color="primary" routerLink = "/register" >Registrarse</button>
    </mat-card-actions>
  </mat-card>
</form>
