<body>
  <!--<span class="example-spacer"></span>
      <a mat-button href="#inicio">INICIO</a>
      <a mat-button href="#garantias">GARANTIAS</a>
      <a mat-button href="#contactos">CONTACTENOS</a>-->

  <header id="inicio">
      <div class="main-header">
          <div class="background-overlay text-white py-5" >
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12 text-center align-self-center">
                          <h1 class="mt-5">¿BUSCAS VIAJAR?</h1>
                          <h1>NOSOTROS SOMOS LA MEJOR AEROLINEA</h1>
                          <p>SKYLINE es el mejor servicio de aerolinea que puedes encontrar, te ofrecemos lo mejores servicio y garantias</p>
                          <a href="#informacion1" class="btn btn-outline-warning btn-lg text-white mt-5">
                              Leer Más
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-8.84,97.85 C162.71,204.44 228.74,107.73 505.83,32.73 L501.88,153.11 L0.00,150.00 Z" style="stroke: none; fill: rgba(233, 211, 103);"></path></svg></div>
      </div>
  </header>
  <section id="informacion1">
      <div class="info-header">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 mt-3">
                      <img src="../../assets/imagenes/imag4.png" alt="">
                  </div>
                  <div class="col-sm-6 mt-3">
                      <h1>¿Qué es lo que hacemos?</h1>
                      <p>El servicio de transporte de carga cumple con la función de transportar mercancía de un lugar determinado a otro. Este proceso es parte de una cadena logística, la cual se dedica a enviar uno o varios productos en el momento y lugar de destino indicado.</p>
                      <p>Para poder seguir proveyendo el mejor servicio de transporte y logística, hemos tomado la labor de difundir medidas sanitarias que empleados deberán practicar. A nuestro personal, se les ha entregado equipo de protección personal y deben limpiar y desinfectar periódicamente su área de trabajo y dispositivos electrónicos. </p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section id="informacion2">
      <div class="info-header">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 mt-3">
                      <h1>¿Qué tipos de trasporte ofrecemos?</h1>
                      <p>Transportes DARVEL cuenta con los siguientes servicios: Microbuses, buses, fletes, transporte pesado y mucho más.</p>
                      <a href="#servicios" class="btn btn-outline-dark btn-lg text-black mt-3">
                          Leer Más
                      </a>
                      <p class="py-2"></p>
                  </div>
                  <div class="col-sm-6 mt-3">
                      <img src="../../assets/imagenes/imag2.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!--Servicios Tipos De Transportes-->
  <section id="servicios">
      <div class="container">
          <h1 class="titulo-serv py-4 align-self-center;">SERVICIOS</h1>
          <section class="servicios-1">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/microbus.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Microbuses</h3>
                                      <p>Servicio de transporte de pasajeros, viajes especiales, traslado de personal para empresas, escuelas, iglesias, eventos, etc.</p>
                                      <a class="btn btn-outline-warning btn-sm" href="#headingOne" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/bus.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Buses</h3>
                                      <p>Dedicada al servicio de transporte comercial, corporativo y escolar. Comprometidos a trasladar a nuestros clientes a su destino.</p>
                                      <a class="btn btn-outline-warning btn-sm" href="#headingTwo" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/fletes.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Fletes</h3>
                                      <p>Para traslado de mercancías u objetos de un lugar a otro.</p>
                                      <a class="btn btn-outline-warning btn-sm mt-4" href="#headingThree" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="servicios-2">
              <div class="row">
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/trasport-pesado.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Transporte Pesado</h3>
                                      <p>Para grandes cargas de mucho peso, como material de construcción, material pesado a granel, contenedores, etc.</p>
                                      <a class="btn btn-outline-warning btn-sm mt-2" href="#headingFour" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/plataformas.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Plataformas</h3>
                                      <p>Para mercancía con embalaje, rollos de acero, maquinaria o cualquier otra mercancía de tamaño considerablemente mayor. </p>
                                      <a class="btn btn-outline-warning btn-sm mt-2" href="#headingFive" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/contenedores.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Contenedores Refrigerandos</h3>
                                      <p>Para transportar grandes cantidades de alimentos o productos sensibles al calor.</p>
                                      <a class="btn btn-outline-warning btn-sm mt-.5" href="#headingSix" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="servicios-3">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/nacionales.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Viajes Nacionales</h3>
                                      <p>Nuestra amplia cobertura nacional garantizan una gestión rápida y segura de todos sus servicios dentro de Guatemala.</p>
                                      <a class="btn btn-outline-warning btn-sm mt-2" href="#headingSeven" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="galeria-transport">
                          <div class="imagen-transport">
                              <img src="../../assets/imagenes/centroamerica.jpg" alt="">
                              <div class="hover-galeria">
                                  <div class="container mt-2 text-center">
                                      <h3>Viajes A Centroamérica</h3>
                                      <p>Servicios directos de transporte en sus modalidades de grupaje a toda Centroamérica.</p>
                                      <a class="btn btn-outline-warning btn-sm mt-2" href="#headingEight" role="button">Más Detalles</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </section>

  <!--Detalles Accordion Transportes-->
  <section id="info-collapse" class="container text-center py-4" >
      <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  DETALLES MICROBUSES
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                  Servicio de Microbúses para viajes express o excursiones viaje seguro viaje con nosotros microbúses sanitizados incluye su kit de limpieza e Higiene .
                  <p class="mt-2">Ofrecemos el servicio de microbuses y paquetes turísticos para cualquier parte de Guatemala y Centroamérica, para excursiones, viajes de trabajo, viajes en Familia, viajes de turismo, etc. Tenemos modernos Microbuses y pilotos con experiencia, y LOS MEJORES PRECIOS.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  DETALLES BUSES
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  Servicio de transporte comercial,  corporativo y escolar.  Entendemos las necesidades de transporte en el país, por lo que estamos comprometidos  a trasladar a nuestros clientes a su destino, no sólo en unidades modernas y en óptimas condiciones, sino que también con altos estándares de servicio, comodidad y seguridad.
                  <p class="mt-2">Nuestros choferes son expertos en todas las rutas por lo que no tendrá sorpresas en su gira. Los buses estan completamente equipados y todos nuestros choferes tíenen mobil por cualquier incoveniencia durante su viaje.</p>
                  <ul class="mt-2">
                      <li>Chofer de Bus con experiencia.</li>
                      <li>Todos los gastos el bus (Gas, aceite, etc.) and bus driver.</li>
                      <li>Las tarifas include 10 horas de servicio. Por cada hora adicional habrá un recargo de 25%.</li>
                      <li>Tarifas netos no incluyen IVA.</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  DETALLES FLETES
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                  Fletes dentro y fuera de la capital, mini mudanza, mudanzas básicas, empresariales, personal de carga y descarga, empaque con strech Film. Contamos con personal calificado y honrado.
                  <ul class="mt-2">
                      <li>El precio que se debe pagar por el desplazamiento de la carga que se desea transportar.</li>
                      <li>El tipo de mercancías a transportar, especialmente si son muy pesadas, el precio del flete puede tener un coste superior.</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      DETALLES TRANSPORTE PESADO
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  Cumple la función de transportar de un lugar a otro una determinada mercadería.  Este servicio forma parte de toda una cadena logística, la cual se encarga de colocar uno o varios productos en el momento y lugar de destino indicado.
                  <ul class="mt-2">
                      <li>Rapidez: Para servicios urgentes de hasta 2.500 kilómetros, el transporte por carretera no tiene rival. Es el más rápido y eficaz, por lo tanto, en la corta y en la media distancia.</li>
                      <li>Servicio puerta a puerta: La posibilidad de realizar la carga de una mercancía en la misma puerta de la empresa que quiere efectuar el envío, y que llegue al almacén de la empresa de destino es un valor diferencial frente al que los otros tipos de transporte no pueden competir.</li>
                  </ul>
              </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    DETALLES PLATAFORMAS
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  Nuestra flota con más de 30 unidades tipo plataforma con cama útil de 13 a 14m de largo con capacidad hasta 30TM, lo cual ponemos a disponibilidad en cualquier momento para el transporte de todo tipo de mercadería, nuestro servicio diseñado especialmente para el mercado nacional e internacional y para aquellas empresas que requieren transportar grandes lotes de mercadería.
                </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    DETALLES CONTENEDORES REFRIGERADOS
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  Nuestras unidades cuentan con equipo de refrigeración, a los cuales se les aplica un programa de mantenimiento eficiente y periódico, para evitar fallas en su funcionamiento. Todo tipo de carga refrigerada y congelada.
                  <ul class="mt-2">
                      <li>Temperatura: Manejamos congelada y refrigerada</li>
                      <li>Disponibilidad de lunes a sábado.</li>
                      <li>Contenedores de 3.5 y 10 Toneladas.</li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    DETALLES VIAJES NACIONALES
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  La amplia cobertura del servicio de distribución nacional, apoyada en su propia estructura logística, garantizan una gestión rápida y segura de sus envíos, lo que permiten optimizar los tiempos de tránsito y realizar el seguimiento de sus expediciones en tiempo real.
                 <ul class="mt-2">
                     <li>Amplia cobertura: Como empresa de transporte nacional de mercancías, permitiéndonos llegar a cualquier lugar.</li>
                     <li>Servicios personalizados: Gestionamos servicios especializados, adaptándonos a cualquier necesidad.</li>
                     <li>Rapidez: Dobles rotaciones para reducir los tiempos de transito.</li>
                 </ul>
               </div>
              </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    DETALLES VIAJES A CENTROAMERICA
                  </button>
                </h5>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                  Prestamos servicios de transporte internacional de mercancías en las modalidades de grupaje y carga completa en toda Centroamérica.
                  <ul class="mt-2">
                      <li>Servicios Directos: Prestamos servicios regulares de transporte de mercancías directos con la mayoría de nuestros corresponsales y agentes ubicados en toda Centroamérica.</li>
                      <li>Profesionalidad: Ponemos a su disposición un equipo humano formado por más de 150 profesionales, con una amplia experiencia en transporte y logística, que se suma a su profesionalidad y orientación a las necesidades de nuestros clientes.</li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
  </section>

  <section id="garantias">
      <div class="min-garanty">
          <div class="background-overlay-garanty text-center">
              <div class="container">
                  <h1 class="titulo-serv py-4 align-self-center;">GARANTÍAS</h1>
                  <div class="row">
                      <div class="col-sm-4 align-self-center">
                          <div class="galeria-garanty">
                              <div class="imagen-garanty">
                                  <img src="../../assets/imagenes/personal-seguro.png" alt="">
                                  <div class="hover-galeria-garanty">
                                      <div class="container mt-2 text-center">
                                          <h3>Seguro De Pasajeros</h3>
                                          <p>Nos encargamos de tus percances, te asistimos en el camino y tu destino está seguro con nosotros.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col-sm-4 align-self-center">
                          <div class="galeria-garanty">
                              <div class="imagen-garanty">
                                  <img src="../../assets/imagenes/rastreo-gps.png" alt="">
                                  <div class="hover-galeria-garanty">
                                      <div class="container mt-2 text-center">
                                          <h3>Rastreo GPS</h3>
                                          <p>Garantía del equipo, de manera que el Usted no pierde el servicio de monitoreo durante el tiempo de envio y entrega</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-4 align-self-center">
                          <div class="galeria-garanty">
                              <div class="imagen-garanty">
                                  <img src="../../assets/imagenes/mercancia-segura.png" alt="">
                                  <div class="hover-galeria-garanty">
                                      <div class="container mt-2 text-center">
                                          <h3>Mercancías Aseguradas</h3>
                                          <p>El seguro de mercancías cubre los daños sufridos por la mercancía durante el transporte</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer id="contactos">
      <div class="container">
          <div class="container-footer">
              <h1 class="titulo-serv py-4 align-self-center;">CONTACTANOS</h1>
              <section class="part-1">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="content-foo">
                              <h4>Direccion</h4>
                              <p>Edificio Empresarial Zona Pradera Torre II, oficina 1108 Guatemala, 01010</p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="content-foo">
                              <h4>Whatsapp</h4>
                              <p>+502 5984-7083</p>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="content-foo">
                              <h4>Teléfono</h4>
                              <p>5252-80022</p>
                          </div>
                      </div>
                  </div>
              </section>
              <section class="part-2">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="content-foo">
                              <h4>Facebook</h4>
                              <p>Facebook/darvelgt</p>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="content-foo">
                              <h4>Email</h4>
                              <p>transportes@darvelgt.com</p>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
          <h2 class="titulo-final">&copy; 2021-Designed by Dania Hernández</h2>
      </div>
  </footer>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
</body>

