<body class="body">

  <div class="container p-1">
    <div class="row">
      <div class="col order-first  mt-5">
        <mat-card class="shipping-card">

            <div class="row align-self-center">
              <table mat-table class="full-width-table " matSort aria-label="Elements">
                <div class="row">
                  <ng-container matColumnDef="nombre">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Aerolínea</th>
                    <td mat-cell *matCellDef="let row">{{row.nombre}}</td>
                  </ng-container>
                  <ng-container matColumnDef="origen">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Origen</th>
                    <td mat-cell *matCellDef="let row">{{row.origen}}</td>
                  </ng-container>
                  <ng-container matColumnDef="destino">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Destino</th>
                    <td mat-cell *matCellDef="let row">{{row.destino}}</td>
                  </ng-container>
                  <ng-container matColumnDef="distancia_viaje">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Distancia</th>
                    <td mat-cell *matCellDef="let row">{{row.distancia_viaje}}{{" km"}}</td>
                  </ng-container>
                  <ng-container matColumnDef="tiempo_viaje">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo Viaje</th>
                    <td mat-cell *matCellDef="let row">{{row.tiempo_viaje}}</td>
                  </ng-container>
                  <ng-container matColumnDef="precio_base">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Precio Base</th>
                    <td mat-cell *matCellDef="let row">{{"$"}}{{row.precio_base}}</td>
                  </ng-container>
                  <ng-container matColumnDef="fecha_salida">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Salida</th>
                    <td mat-cell *matCellDef="let row">{{row.fecha_salida}}</td>
                  </ng-container>
                  <ng-container matColumnDef="descripcion">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>Estado de Vuelo</th>
                    <td mat-cell *matCellDef="let row">{{row.descripcion}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Acciones">
                    <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td mat-cell *matCellDef="let row">
                      <a class="puntero" style="color :rgb(0, 0, 0)" matTooltip="Ver Persona">
                        <button class="btn btn-info"
                          (click)="seleccionarVuelo(row.id_vuelo,row.id_ruta)">Seleccionar</button>
                      </a>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </div>
              </table>
            </div>
        </mat-card>
      </div>
    </div>
  </div>
  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</body>
