
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
  <div class="container">


    <table class="table">
      <thead>
        <tr>
         
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Velocidad media</th>
          <th scope="col">Cantidad de Asientos Economicos</th>
          <th scope="col">Cantidad de Asientos Ejecutivos</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modeloavion of ListarModeloAvion">
          
         
          <th>{{modeloavion.id_modelo}}</th>
          <td>{{modeloavion.nombre}}</td>
          <td>{{modeloavion.velocidad_media}}</td>
          <td>{{modeloavion.asientos_economicos}}</td>
          <td>{{modeloavion.asientos_ejecutivos}}</td>
         
          <td>
           
            <button (click)="modificarr(modeloavion.id_modelo)" type="button" class="btn btn-info">Editar</button>
          </td>
          <td>
            <button (click)="eliminarr(modeloavion.id_modelo)" type="button" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
   
    <button type="button" class="btn btn-info" (click)="Onnuevoo()">Crear Nuevo Modelo</button>

  </div>

</body>

</html>



