<div class="mat-elevation-z8">
  <mat-toolbar style="background-color:rgb(241, 218, 87);" >
    <span>Informacion De Vuelos</span>
    <div class="example-spacer"></div>
    <!--<button mat-raised-button color="primary" routerLink="/agregar">Agregar</button>-->
  </mat-toolbar>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Vuelo</th>
        <th scope="col">Id Avion</th>
        <th scope="col">Id Ruta</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Precio Base</th>
        <th scope="col">Distancia</th>
        <th scope="col">Tiempo Viaje</th>
        <th scope="col">Fecha Creacion</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let vuelo of ListarVuelo">
        <th>{{vuelo.id_vuelo}}</th>
        <td>{{vuelo.id_avion}}</td>
        <td>{{vuelo.id_ruta}}</td>
        <td>{{vuelo.origen}}</td>
        <td>{{vuelo.destino}}</td>
        <td>{{vuelo.precio_base}}</td>
        <td>{{vuelo.distancia_viaje}}</td>
        <td>{{vuelo.tiempo_viaje}}</td>
        <td>{{vuelo.fecha_creacion}}</td>
        <td>{{vuelo.descripcion}}</td>
      </tr>
    </tbody>
  </table>
  <mat-toolbar style="background-color:rgb(241, 218, 87);" >
    <span>Formulario De Personas</span>
    <div class="example-spacer"></div>
    <!--<button mat-raised-button color="primary" routerLink="/agregar">Agregar</button>-->
  </mat-toolbar>
</div>

<form [formGroup]="addressForm" novalidate (ngSubmit)="onAgregar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agregar Pasajeros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="date" placeholder="Fecha Nacimiento" formControlName="fecha_nacimiento">
            <mat-error *ngIf="addressForm.controls['fecha_nacimiento'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Genero</mat-label>
            <mat-select formControlName="genero">
              <mat-option *ngFor="let persona of genero" [value]="persona">
                {{persona}}
              </mat-option>
            </mat-select>
            <!--<mat-form-field appearance="fill">
            </mat-form-field>
            <input matInput placeholder="Genero" formControlName="genero">
            <mat-error *ngIf="addressForm.controls['genero'].hasError('required')">
              <strong>required</strong>
            </mat-error>-->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nacionalidad" formControlName="nacionalidad">
            <mat-error *ngIf="addressForm.controls['nacionalidad'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button mat-raised-button color="primary" type="submit">Siguiente</button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-toolbar style="background-color:rgb(241, 218, 87);" >
  <span>Agregar Asiento y Clase</span>
</mat-toolbar>
<form [formGroup]="addressForm" (ngSubmit)="onAgregar()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center;">
        <div class="col order-first">
          <mat-form-field appearance="fill">
            <mat-label>Asiento</mat-label>
            <mat-select formControlName='num_asiento'>
              <mat-option *ngFor="let asiento of collection1" [value]="asiento">
                {{asiento.numero}}{{asiento.letra}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <div class="col order-first" style="text-align: center;">
          <mat-form-field appearance="fill">
            <mat-label>Clase</mat-label>
            <mat-select formControlName='clase'>
              <mat-option *ngFor="let clase of collection2" [value]="clase">
                {{clase.tipo_clase}}, Q{{clase.precio}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <!--d<button mat-raised-button color="primary" type="submit">Siguiente</button>-->
    </mat-card-actions>
  </mat-card>
</form>
<!--div class="mat-elevation-z8">
  <mat-toolbar style="background-color:rgb(241, 218, 87);" >
    <span>Pasajeros</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/agregar-pasajeros">Agregar</button>
  </mat-toolbar>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id Pasajero</th>
        <th scope="col">Id Persona</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Genero</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Modificar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let pasajero of ListarPasajero">
        <td>{{pasajero.id_pasajero}}</td>
        <th>{{pasajero.id_persona}}</th>
        <td>{{pasajero.fecha_nacimiento}}</td>
        <td>{{pasajero.genero}}</td>
        <td>{{pasajero.nacionalidad}}</td>
        <td>
          <button (click)="modificarPasajeros(pasajero.id_pasajero)" mat-mini-fab color="primary" aria-label="Modificar">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button (click)="eliminarPasajeros(pasajero.id_pasajero)" mat-mini-fab color="warn" aria-label="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>-->






